* {
    margin: 0;
    padding: 0;
}
/* color: #f5f4ee */
.app-container {
    margin: 20px;
}

.rainfall {
    /* background-image: url("./png/rain.png"); */
}

body{ 
    min-width: 1200px;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}